<div>
  <h1>
    Article Details
  </h1>
  <button (click)="back()">Back</button>
  <br />
  <hr />
  <div class="input-group">
    <label for="">Article Title</label>
    <input type="text" [(ngModel)]="article_detail.title" placeholder="title" />
    <label for="">Article Description</label>
    <input type="text" [(ngModel)]="article_detail.description" placeholder="description" />
    <label for="">Publish Date</label>
    <input type="date" [(ngModel)]="article_detail.publish_date" placeholder="date" />
    <button>Save</button>
  </div>

</div>
